P {
    color: black;
    font-family: montserratlight;
    font-weight: 100;
    font-size: 20px;
}

.section-wrapper {
    background: linear-gradient(135deg, #ffffff 0%, #f1f3f5 100%);
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    color: #20c544;
    font-weight: bolder;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #09521f;
    border-left: 3px solid #064d3b;
    padding-left: 1rem;
    margin-bottom: 1rem;
}
td{
    color: #000;
  
    align-content: center;
}



@media (min-width: 992px) {
    .section-container {
        padding-left: 5rem;
    }

    body {
        background-color: #d1dbd0;

    }
}


.circle {
    width: 50px;
    height: 50px;
    background: linear-gradient(145deg, #006400, #004d00);
    color: white;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.circle:hover {
    transform: scale(1.1);
}

.how-it-works {
    margin-bottom: 5px;
    padding: 20px;
    border-left: 5px solid #006400;
    background: #f9f9f9;
    border-radius: 8px;
    transition: background 0.3s ease;
    
}

.how-it-works:hover {
    background-color: #9edd9e;
    
}

.how-it-works a {
    text-decoration: none;
    color: #000;
}

.how-it-works a:hover h5 {
    
    color: white;
}

.section-title {
    font-size: 28px;
    font-weight: 600;
    color: #003300;
    position: relative;
}
h5{
    color:  #006400;;
}
@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fade-in {
    animation: fade-in 0.8s ease-out both;
  }